.sectionBlog{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.divBlog{
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.divImg{
    width: 100%;
    height: 450px;
    background: rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.blog{
    width: 70%;
    
}

.divOptionBlog{
    width: 28%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 450px;
    background: rgba(0, 0, 0, 0.08);
    padding: 40px 20px;
}

.blogTitle{
    font-size: 60px;
    font-weight: bold;
    margin:50px 0px 25px 0px;
}

.blogDate{
    color:#737373;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}

.blogTexto{
    font-size: 23px;
}

.divButtonBlog{
    width: 100%;
}

.borrarBlog{
    margin-top: 20px;
    background: #DF0144;
    border: none;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.imgUsuario{
    width: 180px;
    height: 180px;
    background: #737373;
    border-radius: 100%;
    object-fit: cover;
}

.infoUserBlog{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nameBlog{
    font-size: 20px;
    margin: 0px;
}

.nameUser{
    width: 100%;
    text-align: center;
}

.userBlog{
    font-size: 18px;
}