<section class="sectionBlog">
    <div class="divBlog">
        <div class="blog">
            <img class="divImg" src="{{ blog.fileUrl}}">
            <div>
                <h2 class="blogTitle">{{ blog.title }}</h2>
                <p class="blogDate">{{ dateOfCreation.getDate() }} / {{this.dateOfCreation.getMonth()}} / {{dateOfCreation.getFullYear()}}</p>
                <p class="blogTexto">{{ blog.text }}</p>
            </div>
        </div>
        <div class="divOptionBlog">
            <img src="{{ user.fileUrl }}" class="imgUsuario">
            <div class="infoUserBlog">
                <div class="nameUser"> 
                    <p class="nameBlog">{{ user.name }}</p>
                    <span class="userBlog">{{ user.nameUser }}</span>
                </div>
                
                <div class="divButtonBlog" *ngIf="visible">
                    <button  class="borrarBlog" (click)="destroyBlog(blog)">Borrar</button>
                </div>
                
            </div>
        </div>
    </div>
</section>