.sectionUser{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.divFormUser{
    width: 50%;
    border: 1px #00CDFF solid;
    padding: 30px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.optionUser{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.active{
    padding: 5px;
    border: none;
    width: 40%;
    font-size: 20px;
    outline: none;
    background: #00CDFF;
    color: #ffffff;
}

.noActive{
    padding: 5px;
    border: none;
    width: 40%;
    font-size: 20px;
    outline: none;
}

.divInput{
    width:100%; 
    margin-bottom: 20px;
}

.inputUser{
    width: 100%;
    outline: none;
    background: #F2F2F2;
    border: none;
    font-size: 18px;
    padding:8px;
}

.divButton{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonUser{
    width: 50%;
    border: none;
    cursor: pointer;
    background: #DF0144;
    outline: none;
    padding: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.errorValidate{
    padding: 0px 0px 0px 8px;
    color:  #DF0144;
}