<section class="sectionUser">
    <div class="divFormUser">
        
        <div class="optionUser">
            <button [ngClass]="{'active': register, 'noActive': !register}" 
                (click)='setRegister()'>Registrar</button>

            <button [ngClass]="{'active': !register, 'noActive': register}" 
                (click)='setSingIn()'>Ingresar</button>
        </div>
        <!-- registrar -->
        <form class="formUser" #userForm="ngForm" (submit)="createNewUser(userForm)" 
            *ngIf="register,else elseRegister">

            <div class="divInput">
                <input class="inputUser" [(ngModel)]="this.userService.oneUser.name" 
                type="text" #name="ngModel" placeholder="Nombre" name="name">
                <div class="errorValidate">{{ createUser.nameValidate }}</div>
            </div>
            <div class="divInput">
                <input class="inputUser" [(ngModel)]="this.userService.oneUser.nameUser" 
                type="text" #nameUser="ngModel" placeholder="Usuario" name="nameUser">
                <div class="errorValidate">{{ createUser.nameUserValidate }}</div>
            </div>
            <div class="divInput">    
                <input class="inputUser" [(ngModel)]="this.userService.oneUser.email"
                type="text" #email="ngModel" placeholder="Email" name="email">
                <div class="errorValidate">{{ createUser.emailValidate }}</div>
            </div>
            <div class="divInput">
                <input class="inputUser" [(ngModel)]="this.userService.oneUser.password"
                type="password" #password="ngModel" placeholder="Password" name="password">
                <div class="errorValidate">{{ createUser.passwordValidate }}</div>
            </div>
            <div class="divInput">
                <input class="inputUser" [(ngModel)]="this.confirmPassword"
                type="password" placeholder="Password" name="confirmPassword">
                <div class="errorValidate">{{ createUser.confirmPassValidate }}</div>
            </div>
            <div class="divInput">
                <input class="inputUser" type="file" name="imageUser"
                (change)="changeImage($event)">
            </div>
            <div class="divButton">
                <button class="buttonUser">Registrar</button>
            </div>

        </form>

        <!-- entrar -->
        <ng-template #elseRegister>
            <form class="formUser" #singInForm="ngForm" (submit)="signInUser(singInForm)">
                <div class="divInput">
                    <input class="inputUser" type="text" placeholder="Email" 
                    [(ngModel)]="this.user.email" name="email">
                    <div class="errorValidate">{{ validateLogin.mailValidate }}</div>  
                </div>
                <div class="divInput">    
                    <input class="inputUser" type="password" placeholder="Password"
                    [(ngModel)]="this.user.password" name="password">
                    <div class="errorValidate">{{ validateLogin.passValidate }}</div>
                </div>
                <div class="divButton">
                    <button class="buttonUser">Entrar</button>
                </div>
            </form>
        </ng-template>
    </div>

</section>