<header class="header">
  <div class="divHeader">
    <div>
      <a [routerLink]="['/angularBlog/blogs']">
        <img class="divLogo" src="../assets/img/logo1.png">
      </a>
    </div>
    <div class="divSearch" *ngIf="perfilService.userPerfil.nameUser!='', else out">
      <a [routerLink]="['/angularBlog/blogs']" class="link">Blog</a>
      <div class="userPerfil">
        <a class="nameUser">@ {{ perfilService.userPerfil.nameUser }}</a>
        <img class="perfilImg" src="{{perfilService.userPerfil.fileUrl}}">
      </div>
      <a class="singOut" (click)="singOut()">salir</a>
    </div>
    <ng-template #out>
      <div class="divSearch">
        <a [routerLink]="['/angularBlog/blogs']" class="link">Blog</a>
        <a [routerLink]="['/angularBlog/user']" class="link">Ingresar</a>
      </div>
    </ng-template>
  </div>
</header>




<router-outlet></router-outlet>

<footer class="footer">
  <p>@copyrigth 2020</p>
</footer>