.header{
    width: 100%;
    background: #00CDFF;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

.divHeader{
    display: flex;
    justify-content: space-between;

    width: 90%;
}

.link{
    font-weight: bold;
    color: #ffffff;
    margin-left: 35px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
}

.divLogo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divSearch{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.singOut{
    padding: 5px 20px;
    margin-left: 35px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background: #DF0144;
    font-size: 19px;
    font-weight: bold;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.userPerfil{
    display: flex;
    align-items: center;
    padding: 5px 35px;
    border-right: 2px solid #ffffff;
}

.nameUser{
    font-size: 18px;
    color: #ffffff;
    margin-right: 10px;
    text-decoration: none;
}

.perfilImg{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}


.contentBlog{
    width: 100%;
}

.footer{
    background: #494949;
    width: 100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer > p{
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}