.sectionCreateBlog{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0px 100px 0px;
    background: #00CDFF;
    justify-content: center;
}

.createFormBlog{
    width: 90%;
    display:flex;
    justify-content: space-between;

}

.divDev{
    width: 55%;
    color: #ffffff;
}

.webLc{
    color: #000000;
}

.titleDev{
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.subTitleDev{
    font-size: 23px;
    font-weight: lighter;
    display: block;
    width: 80%;
}

.formBlog{
    padding: 30px;
    width: 45%;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    justify-content: center;
    border: 1px #00CDFF solid;
}

.titleBlog{
    font-size: 20px;
    font-weight: bolder;
    display: block;
}

.createButton{
    background: #DF0144;
    border: 1px #DF0144 solid;
    border: none;
    font-size: 18px;
    padding:8px;
    width: 50%;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.divFormBlog{
    width: 100%;
    margin-bottom: 15px;
}

.label{
    width: 100%;
    margin-bottom: 3px;
}



.input{
    width: 100%;
    outline: none;
    background: #F2F2F2;
    border: none;
    font-size: 18px;
    padding:8px;
}   

.textarea{
    height: 200px;
}


.sectionSelectBlog{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.divSelectBlog{
    width: 90%;   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap:50px; 
}

.blog{
    border: 1px #00CDFF solid;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

.blogDiv{
    border: 1px #00CDFF solid;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.divImg{
    height: 250px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.infoBlog{
    padding: 17px;
}

.leerMas{
    color: #00CDFF;
    font-weight: bolder;
    display: block;
    text-decoration: none;
}

.iconArrow{
    margin-left: 8px;
}

.leerMas:hover{
    color: #7EE5FE;
}

.divButtons{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.buttons{
    width: 100%;

}

.butttonDelete{
    padding: 7px 30px;
    background: #FF3200;
    color: #fff;
    border: none;
    margin: auto;
    cursor: pointer;
}

.buttonUpdate{
    padding: 7px 30px;
    background: #FFAE00;
    color: #fff;
    border: none;
    margin: auto;
    cursor: pointer;
}

.errorValidate{
    padding: 0px 0px 0px 8px;
    color:  #DF0144;
}