<section class="sectionCreateBlog">
    <div class="createFormBlog">
        <div class="divDev">
          <H1 class="titleDev">Desarrollo<span class="webLc">Web - LC</span></H1>
          <span class="subTitleDev">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a type specimen book
          </span>
        </div>
        <form class="formBlog" #blogForm="ngForm" (ngSubmit)="addBlog(blogForm)">
          
          <!--<div class="divFormBlog">
            <input class="input" id="_id" name="_id" #_id="ngModel"
                  placeholder="_id" type="text" [(ngModel)]="blogService.theBlog._id">
          </div> 
        -->
          <div class="divFormBlog">
            <label for="" class="label">Titulo</label>
            <input class="input" id="titulo" name="title" #title="ngModel" 
              placeholder="titulo" type="text" [(ngModel)]="blogService.theBlog.title">
            <div class="errorValidate">{{ createBlogValid.titleValid }}</div>
          </div>
          
          <div class="divFormBlog"> 
            <label for="texto" class="label">Texto</label>
            <textarea class="input textarea" name="text" #text="ngModel" id="texto" 
            placeholder="Texto" [(ngModel)]="blogService.theBlog.text"></textarea>
            <div class="errorValidate">{{ createBlogValid.textValid }}</div>
          </div>

          <div class="divFormBlog">
            <label for="imagen" class="label">Imagen</label>
            <input class="input" name="image" id="imagen" type="file"
            (change)="changeImage($event)">
            <div class="errorValidate">{{ createBlogValid.fileValid }}</div>
          </div>
          
          <button type="submit" class="createButton">Crear</button>
        </form>
    </div>
  </section>

  <section class="sectionSelectBlog">
    <div class="divSelectBlog">
        <div class="blog" *ngFor="let blog of blogService.blogs">
            <img class="divImg" src={{blog.fileUrl}}>
            <div class="infoBlog">
            <span class="titleBlog">{{ blog.title }}</span>
            {{ blog.text.substr(1,100) }} . . .
            <a routerLink='/angularBlog/blog/{{blog._id}}' class="leerMas">Leer mas<i class="fa fa-arrow-right iconArrow"></i></a>
            <!--
            <div class="buttons">
                <button class="butttonDelete" (click)="deleteBlog(blog)">Borrar</button>
                <button class="buttonUpdate" (click)="selectBlog(blog)">Editar</button>
            </div>
            -->
            </div>
        </div>
    </div>
</section>
